{
  "user_store": {
    "type": "{{ user_store.type | default('file_based') }}",
    "users": [
    {% if user_store.users %}
    {% for user in user_store.users %}
        {
            "username": "{{ user.user.name }}",
            "password": "{{ user.user.password }}",
            "groups": {{ user.user.groups | tojson }}
        }
    {% if not loop.last %},{% endif %}
    {% endfor %}
    {% else %}
      {
        "username": "admin",
        "password": "admin"
      }
    {% endif %}
    ]
  }
}
